aside {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 1.6rem;
    z-index: 50;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

a {
    color: #fff;
}

a:hover {
    color: #00ff5f;
}
