aside {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background: #181818;
    padding: 1.6rem;
}

aside img {
    width: 24px;
    height: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.social a {
    color: #fff;
}

.social a:hover {
    color: #00ff5f;
}
