.pageLanding {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #242424;
}

.pageLanding h1 {
    font-size: 4.8rem;
    color: #fff;
    text-align: center;
}

.pageLanding h2 {
    color: #fff;
    text-align: center;
}

.pageLanding button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    letter-spacing: 2px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #00ff5f;

    background: #242424;
    margin-top: 1.6rem;
    padding: 1.6rem 0;
    width: 100%;

    border: 1px solid #00ff5f;
    border-radius: 4px;
}

.pageLanding button:hover {
    background: #00ff5f;
    color: #000;
}

.projectsContainer {
    height: 1000px;
    padding-top: 3.2rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
    background: #323232;
}

.projectsHeading {
    font-size: 3.2rem;
    color: #fff;
}

.projects {
    width: 100%;
    max-width: 800px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
